In [2]:
#Import dependencies
import pandas as pd

#Import files from resources folder in my new repository 
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

#Read school and student csvs and store into dataframe
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

#Merge the datasets using a left join to make one single dataset 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
unique_schools = school_data_complete["school_name"].nunique()
unique_schools

15

In [5]:
students_count = school_data_complete["student_name"].count()
students_count

39170

In [6]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
unique_schools_name = school_data_complete["school_name"].unique()
unique_schools_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
school_data_complete.loc[:, ["school_name", "budget"]].head()

         school_name   budget
0  Huang High School  1910635
1  Huang High School  1910635
2  Huang High School  1910635
3  Huang High School  1910635
4  Huang High School  1910635

In [9]:
inv_budget = school_data_complete['budget'].unique()
inv_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130])

In [10]:
total_budget = inv_budget.sum()
total_budget

24649428

In [11]:
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, ["student_name"]]
passing_math.count()

student_name    29370
dtype: int64

In [12]:
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, ["student_name"]]
passing_reading.count()

student_name    33610
dtype: int64

In [26]:
passing_both = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) &
                                        (school_data_complete["math_score"] >= 70), ["student_name"]]
passing_both.count()

student_name    25528
dtype: int64

In [27]:
#Set count of variables as seperate variable to do calculations 
pass_reading = passing_reading.count()
pass_math = passing_math.count()
pass_both = passing_both.count()

In [28]:
#passing_reading = passing_reading.astype(float)
#students_count = students_count.astype(float)

pass_reading_percent = ((pass_reading)/(students_count)*100)
pass_reading_percent

pass_math_percent = ((pass_math)/(students_count)*100)
pass_math_percent

pass_both_percent = ((pass_both)/(students_count)*100)
pass_both_percent

student_name    65.172326
dtype: float64

In [35]:
district_df = pd.DataFrame({"Total schools":[unique_schools],
                           "Total students": [students_count],
                           "Average math score":[average_math_score],
                           "Average reading score":[average_reading_score],
                           "Total budget":[total_budget],
                           "% Pass Math": [pass_math_percent],
                           "% Pass Reading": [pass_reading_percent],
                           "% Pass Both":[pass_both_percent]})

district_df["% Pass Math"]=district_df["% Pass Math"].astype(float)
district_df["% Pass Math"]=district_df["% Pass Math"].map("{:,.2f}%".format)

district_df["% Pass Reading"]=district_df["% Pass Reading"].astype(float)
district_df["% Pass Reading"]=district_df["% Pass Reading"].map("{:,.2f}%".format)

district_df["% Pass Both"]=district_df["% Pass Both"].astype(float)
district_df["% Pass Both"]=district_df["% Pass Both"].map("{:,.2f}%".format)

district_df["Total bugdet"]=district_df["Total budget"].astype(float)
district_df["Total budget"]=district_df["Total budget"].map("${:,.2f}".format)

district_df

,Total schools,Total students,Average math score,Average reading score,Total budget,% Pass Math,% Pass Reading,% Pass Both,Total bugdet
0,15,39170,78.985371,81.87784,"$24,649,428.00",74.98%,85.81%,65.17%,24649428.0